h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card_conteiner {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 12px;
  gap: 16px;
  border: solid 1px rgb(203, 203, 203);
}

img {
  width: 70%;
}

img:hover {
  transform: scale(1.5);
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

li {
  list-style: none;
  padding: 8px;
  padding-left: 28px;
}

li:hover {
  transform: scale(1.2);
}

.porta {
  position: absolute;
  padding-top: 10px;
  color: #a70101;
}

.ar {
  position: absolute;
  padding-top: 45px;
  color: #a70101;
}

.banco {
  position: absolute;
  padding-top: 79px;
  color: #a70101;
}

.marcha {
  position: absolute;
  padding-top: 115px;
  color: #a70101;
}

.airbag {
  position: absolute;
  padding-top: 150px;
  color: #a70101;
}

.carro {
  position: absolute;
  padding-top: 185px;
  color: #a70101;
}

iframe {
  width: 70%;
  border-radius: 15px;
}

.link {
  padding-top: 20px;
  padding-bottom: 20px;
}

a {
  color: #ffffff;
  background-color: #a70101;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 50px;
  padding: 15px 45px;
  animation-name: botao;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes botao {
  0% {
    background-color: #a70101;
  }

  50% {
    background-color: #000;
  }

  100% {
    background-color: #a70101;
  }
}

@media (min-width: 1280px) {
  .card_conteiner {
    position: relative;
    display: flex;
    flex-direction: row;
    height: 550px;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    position: absolute;
    font-size: 1.7rem;
    left: 250px;
    top: 20px;
  }

  .ver {
   position: absolute;
   left: 1000px;
  }
  
  
  img {
    position: absolute;
    width: 28%;
    left: 150px;
    top: 70px;
  }

  p {
    position: absolute;
    width: 20%;
    left: 335px;
    bottom: 100px;
    font-size: 1.2rem;
    
  }

  ul {
    position: absolute;
    left: 270px;
    bottom: 53px;
    transform: scale(1.2);
  }

  iframe {
    position: absolute;
    width: 30%;
    right: 120px;
    top: 100px;
  }

  a {
    position: absolute;
    left: 650px;
    bottom: 30px;
  }
}
