* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.header_mobile {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header_mobile ul {
  list-style: none;
}
.menumobile_lista button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  margin: 1px;
  width: 100px;
  font-weight: bold;
  border-radius: 50px;
}
.menumobile_lista button:hover{
  transition-property: background-color, color;
   transition-duration: 0.8s;
   background-color: #a00303;
   color: aliceblue;
}

.header_desktop {
  display: none;
}
h2 {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card_conteiner {
  width: 100%;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 12px;
  gap: 16px;
  border: solid 1px rgb(203, 203, 203);
}

img {
  width: 70%;
}

img:hover {
  transform: scale(1.5);
}

ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

li {
  list-style: none;
  padding: 8px;
  padding-left: 28px;
}

li:hover {
  transform: scale(1.2);
}

.porta {
  position: absolute;
  padding-top: 10px;
  color: #a70101;
}

.ar {
  position: absolute;
  padding-top: 45px;
  color: #a70101;
}

.banco {
  position: absolute;
  padding-top: 79px;
  color: #a70101;
}

.marcha {
  position: absolute;
  padding-top: 115px;
  color: #a70101;
}

.airbag {
  position: absolute;
  padding-top: 150px;
  color: #a70101;
}

.carro {
  position: absolute;
  padding-top: 185px;
  color: #a70101;
}

iframe {
  width: 70%;
  border-radius: 15px;
}

.link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.link a {
  color: #ffffff;
  background-color: #a70101;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 50px;
  padding: 15px 45px;
  animation-name: botao;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
footer {
  padding: 2rem;
  height: 30vh;
  display: flex;
  flex-direction: column;
  font-weight: bold;
  text-align: center;
  gap: 1.5rem;
  box-shadow: 0px -4px 4px rgb(170, 169, 169);
  color: whitesmoke;
  background-color: #696969;
}

.divfooter_participantes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.divfooter_participantes img {
  height: 2rem;
}

.divfooter_infogeral {
  font-size: larger;
}

@keyframes botao {
  0% {
    background-color: #a70101;
  }

  50% {
    background-color: #000;
  }

  100% {
    background-color: #a70101;
  }
}


