@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: 'Roboto';
}

.titulo {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.texto{
position: relative;
top: 34px;
}

.texto2 {
font-size: 1.2rem;
padding-left: 14px;
padding-right: 12px; 
}

.texto3 {
position: relative;
bottom: 5px;

}

.card_conteiner {
  width: 100%;
  height: 930px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  padding: 12px;
  gap: 16px;
  background-color: #d7d7d7;
  border: solid 1px rgb(203, 203, 203);
}

.foto {
  position: relative;
  width: 45%;
  top: 15px;
}

.foto:hover {
  transform: scale(1.5);
}

.icones {
  width: 100%;
  font-size: 1.2rem;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

li {
  list-style: none;
  padding: 8px;
  padding-left: 28px;
}

li:hover {
  transform: scale(1.2);
}

.porta {
  position: absolute;
  padding-top: 12px;
  color: #a70101;
}

.ar {
  position: absolute;
  padding-top: 55px;
  color: #a70101;
}

.banco {
  position: absolute;
  padding-top: 96px;
  color: #a70101;
}

.marcha {
  position: absolute;
  padding-top: 137px;
  color: #a70101;
}

.airbag {
  position: absolute;
  padding-top: 184px;
  color: #a70101;
}

.carro {
  position: absolute;
  padding-top: 227px;
  color: #a70101;
}

.video {
  width: 80%;
  border-radius: 15px;
}

.link {
  padding-top: 20px;
  padding-bottom: 20px;
}

.link a {
  color: #ffffff;
  background-color: #a70101;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 50px;
  padding: 15px 65px;
  animation-name: botao;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}

@keyframes botao {
  0% {
    background-color: #a70101;
  }

  50% {
    background-color: #000;
  }

  100% {
    background-color: #a70101;
  }
}

@media (min-width: 1280px) {
  .titulo {
    font-size: 2rem;
  }

  .card_conteiner {
    position: relative;
    height: 600px;
  }

  .texto {
    position: absolute;
    font-size: 1.7rem;
    left: 300px;
    top: 65px;
  }

  .foto {
    position: absolute;
    width: 30%;
    left: 200px;
    top: 120px;
  }

  .texto2 {
    position: absolute;
    width: 20%;
    left: 330px;
    top: 410px;
    transform: scale(1.2);
  }

  .icones {
    position: absolute;
    width: 70%;
    left: 150px;
    top: 310px;
    transform: scale(1.2);
  }

  .texto3 {
    position: absolute;
    font-size: 1.7rem;
    right: 150px;
    top: 65px;
  }

  .video {
    position: absolute;
    width: 37%;
    right: 40px;
    top: 150px;
  }

  .link {
    position: absolute;
    bottom: 20px;
  }

  .banner__text {
    width: 725px;
  }

  .items__title {
    height: 80vh;
  }

  .cards__container {
    height: 170vh;
  }

  .header_mobile {
    display: none;
  }

  .divfooter_participantes {
    flex-direction: row;
  }
}