.modal-header,
h4,
.close,
.button {
  background-color: #a70101;
  color: white !important;
  text-align: center;
  font-size: 30px;
}

.btn-success {
  color: #fff;
  background-color: #a70101;
  border-color: #a70101;
}

.modal-body {
  padding: 40px 50px;
}

.modal-header {
  padding: 35px 50px;
}

.modal-footer {
  background-color: #f9f9f9;
}
